body{
    display: flex;
    justify-content: center;
    background-color: cornflowerblue;
    margin-top: 65px;
}

#number-filds{
    background-color: rgb(125, 166, 255);
    box-shadow: inset -1px 1px 5px -1px;  
    padding: 10px;
}

#number-filds input{
    padding: 12px;
    font-size: 13;
}

#number-filds button{
    padding: 13px;
    background-color: green;
    box-shadow: 0 5px 0 rgb(0, 80, 0);
    color: white;
    font-weight: 500;
    border: none;
    cursor: pointer;
}

#number-filds button:active {
    box-shadow: none;
    transform: translatey(5px);
}

#table-box{
    display: flex;
    justify-content: center;
    font-size: 30px;
    /* background-color: rgb(252, 194, 252); */
    padding: 15px;
}

#design-box{
    /* background-color: blueviolet; */
    padding: 10px;
    display: flex;
    justify-content: center;
}

#table-box table tbody tr td{
    background-color: aliceblue;
    padding: 15px;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media only screen and (max-width: 425px) {
    #number-filds input{
        width: 116px;
    }

    span{
        font-size: 25px;
    }

}

@media only screen and (max-width: 375px) {
    #number-filds input{
        width: 96px;
    }

    span{
        font-size: 20px;
    }

}

@media only screen and (max-width: 320px) {
    #number-filds input{
        width: 69px;
    }

    span{
        font-size: 18px;
    }

}